@import "../../../../assets/styles/vars";

.wrapper {
  @include card;
  width: $smallWidthCard;
  height: $smallHeightCard;
}

.header {
  @include headerCard;
}

.body {
  @include bodyContainer;
}

.chart {
  width: 147px;
  height: 146px;
}