$white: #FFFFFF;
$borderWhite: #EFF2F5;
$orange: #F18C5C;
$textGray: #616E85;
$blackText: #222531;

$smallWidthCard: 304px;
$largeWidthCard: 640px;
$smallHeightCard: 208px;
$largeHeightCard: 292px;

@mixin card {
  background-color: #FFFFFF;
  padding: 24px 24px 0;
  border-radius: 16px;
  box-shadow: 0 8px 24px 0 #5155C314;

  @media (max-width: 1024px) {
    flex: 1 1 calc(50% - 8px);
  }

  @media (max-width: 480px) {
    flex: 100%;
  }
}

@mixin headerCard {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 20px;
    color: $blackText
  }

  svg {
    cursor: pointer;
  }
}

@mixin bodyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

